
node_modules/
backend/venv/



dist/
build/
*.pyc
__pycache__/


.agents/
script.py.mako
.dockerignore
PRD*


.test.tsx*

.env
.DS_Store
Thumbs.db
InvoiceIQ-Implementation-Guide.md
Test Credentials.md
Test Tokens InvoiceIQ.txt
skills-lock.json
guide.txt
alembic.ini
backend/data
docker-compose.yml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


migrationVec.py
invoice_backup.bak
clean_backup.bak